@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Mali";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}

.project-card {
    text-decoration: none;
    color: black;
}

.project-card>div:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-link {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
