---
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Frias</title>
    <link rel="stylesheet" href="/assets/css/main-compiled.css">
</head>

<body>
    <nav>
        <div>
            <span><a href="/">Emilia Frias</a></span>
            <ul>
                <li><a href="/rigging">Rigging</a></li>
                <li><a href="/films">Films</a></li>
                <li><a href="/notebook">Notebook</a></li>
            </ul>
        </div>
    </nav>
    <main>
        {{ content }}
    </main>
    <footer>
        Copyright © Emilia Frias
    </footer>

</body>

</html>