#container-content {
  min-height: 65vh;
}

// Youtube embed sizing logic
.youtube {
  width: 100%;
  max-width: 875px;
  margin: auto;

  & > iframe {
    width: 100%;
    height: 500px;

    // Resizing breakpoints
    @media screen and (max-width: 768px) {
      height: 300px;
    }
  }
}

