.navbar {
  background-color: #ebe2d9 !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  // This block controls how the navbar reacts to screen size changes
  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    max-width: 250px;
  }
}
