@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
$accent-green: #26875e;
$background-color: #f8efe8;
$default-width: 1000px;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Sour Gummy", sans-serif;
  font-weight: 300;

  background-color: $background-color;

  main {
    padding: 1em;

    header {
      &.home-hero {
        max-width: $default-width;
        min-height: 80vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-size: 2em;
        line-height: 1.5;
      }
    }
    section {
      width: 100%;

      &:not(:first-of-type) {
        margin-top: 4em;
      }

      & > * {
        display: block;
        width: 100%;
        max-width: $default-width;
        margin-left: auto;
        margin-right: auto;
      }

      h2 {
        margin-bottom: 1em;
      }
    }
  }
}

nav {
  z-index: 1000;
  width: 100vw;
  position: sticky;
  top: 0;

  background-color: rgb(from $background-color r g b / 0.5);
  backdrop-filter: blur(10px);
  mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 10%);

  div {
    // width: 100%;
    max-width: $default-width;
    margin: auto;
    padding: 1em;

    display: flex;
    justify-content: space-between;

    a {
      color: black;
      padding: 0.25em 0.5em;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.25s;
    }

    a:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin: 0 0.5em;
      }
    }
  }
}

strong.accent {
  color: $accent-green !important;
}

video {
  width: 100%;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .expanding-video {
    transition: all 0.25s;
  }
}

section.contact-card > div {
  // background-color: $background-color;
  backdrop-filter: brightness(0.95);
  border-radius: 5px;
  padding: 1em 0;
  font-size: 1.25em;
  line-height: 1.5;
  text-align: center;

  a {
    color: $accent-green;
    text-decoration: none;
  }
}

img.juicy-hover {
  transition: all 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    transform: scale(1.05);
  }
}

.image-wall {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  img {
    margin: 1em;
    border-radius: 5px;
  }

  &.image-wall-16-9 {
    img {
      max-width: 450px;
      aspect-ratio: 16 / 9;

      @media screen and (max-width: calc(450px + 2em)) {
        & {
          width: calc(100vw - 2em);
        }
      }
    }
  }
}

hr {
  max-width: $default-width;
  margin: 1em auto;
  border: 0;
  border-top: 1px solid #cacaca;
}

section p {
  font-size: 1.25em;
}

footer {
  padding: 1em;
  text-align: center;
  color: #cacaca;
}
