<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found | Emilia Frias</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
</head>

<body>
    <nav class="sticky">
        <div class="nav-content">
            <h1 class="nav-brand">Page Not Found</h1>
            <ul class="nav-items">
                <li><a href="/">Home</a></li>
                <!-- <li><a href="/about">About Me</a></li> -->
                <li><a href="/rigging">Rigging</a></li>
                <li><a href="/animation">Animation</a></li>
                <li><a href="/short-films">Short Films</a></li>
            </ul>
        </div>
    </nav>

    <main style="display:flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align:center;">
            <p>The page you were looking for was not found</p>
            <p><a href="/">Click here</a> to return home</p>
        </div>
    </main>
    <script data-goatcounter="https://demilurii.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>