{%if page.path or section.path %}
{% set title = page.title | default(value=section.title) %}
{% set path = page.path | default(value=section.path) %}
{% set content = page.content | default(value=section.content) %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | {{config.title}}</title>
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="icon" href="/static/images/favicon.png" type="image/png">

    <!-- OpenGraph Tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="og:site" content="{{config.extra.domain}}" />
    <meta name="og:site_name" content="{{config.title}}" />
    <meta property="og:title" content="{{title}} - {{config.title}}" />
    <meta name="og:image" content="/static/images/opengraph.jpg" />
    {% if page.extra.excerpt %}
    <meta property="og:description" content="{{page.extra.excerpt}}" />
    <meta property="description" content="{{page.extra.excerpt}}" />
    <meta name="description" content="{{page.extra.excerpt}}">
    {% endif %}
</head>

<body>
    <nav class="sticky">
        <div class="nav-content">
            <h1 class="nav-brand">Demilurii // {{title}}</h1>
            <ul class="nav-items">
                <li><a href="/">Home</a></li>
                <li><a href="/animation">Animation</a></li>
                <li><a href="/rigging">Rigging</a></li>
                <li><a href="/short-films">Short Films</a></li>
            </ul>
        </div>
    </nav>

    <main>
        {{ content | safe }}
    </main>
    <script data-goatcounter="https://demilurii.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</body>

</html>